            <style>@media screen and (max-width: 35.5em) {.hide-m {display: none !important;}}</style>    
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="#" id="btnConsulta" class="pure-menu-link">Consulta</a>
                    </li>
                    <li class="pure-menu-item hide-m">
                        <a href="#" id="btnHistorial" class="pure-menu-link">Historial</a>
                    </li>
                    <li id="menu-item-params" class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink1" class="pure-menu-link">Params</a>
                        <ul class="pure-menu-children">
                            <li id="menu-item-params-generales" class="pure-menu-item">
                                <a href="#" id="btnParams" class="pure-menu-link">Generales</a>
                            </li>
                            <li id="menu-item-params-delantero" class="pure-menu-item">
                                <a href="#" id="btnDelRatio" class="pure-menu-link">Delantero</a>
                            </li>
                            <li id="menu-item-params-lateral" class="pure-menu-item">
                                <a href="#" id="btnLatRatio" class="pure-menu-link">Lateral</a>
                            </li>
                            <li id="menu-item-params-trasero" class="pure-menu-item">
                                <a href="#" id="btnTraRatio" class="pure-menu-link">Trasero</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-repuestos" class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink1" class="pure-menu-link">Repuestos</a>
                        <ul class="pure-menu-children">
                            <li id="menu-item-repuestos-auto-del-ga" class="pure-menu-item"></li>
                                <a href="#" id="btnDelanteroag" class="pure-menu-link">Auto Del. GA</a>
                            </li>
                            <li id="menu-item-repuestos-auto-del-gm" class="pure-menu-item">
                                <a href="#" id="btnDelantero" class="pure-menu-link">Auto Del. GM</a>
                            </li>
                            <li id="menu-item-repuestos-auto-lat-ga" class="pure-menu-item">
                                <a href="#" id="btnLateralag" class="pure-menu-link">Auto Lat. GA</a>
                            </li>
                            <li id="menu-item-repuestos-auto-lat-gm" class="pure-menu-item">
                                <a href="#" id="btnLateral" class="pure-menu-link">Auto Lat. GM</a>
                            </li>
                            <li id="menu-item-repuestos-auto-tra-ga" class="pure-menu-item">
                                <a href="#" id="btnTraseroag" class="pure-menu-link">Auto Tra. GA</a>
                            </li>
                            <li id="menu-item-repuestos-auto-tra-gm" class="pure-menu-item">
                                <a href="#" id="btnTrasero" class="pure-menu-link">Auto Tra. GM</a>
                            </li>
                            <li id="menu-item-repuestos-suv-del-ga" class="pure-menu-item">
                                <a href="#" id="btnDelanteroagsuv" class="pure-menu-link">SUV Del. GA</a>
                            </li>
                            <li id="menu-item-repuestos-suv-del-gm" class="pure-menu-item">
                                <a href="#" id="btnDelanterosuv" class="pure-menu-link">SUV Del. GM</a>
                            </li>
                            <li id="menu-item-repuestos-suv-lat-ga" class="pure-menu-item">
                                <a href="#" id="btnLateralagsuv" class="pure-menu-link">SUV Lat. GA</a>
                            </li>
                            <li id="menu-item-repuestos-suv-lat-gm" class="pure-menu-item">
                                <a href="#" id="btnLateralsuv" class="pure-menu-link">SUV Lat. GM</a>
                            </li>
                            <li id="menu-item-repuestos-suv-tra-ga" class="pure-menu-item">
                                <a href="#" id="btnTraseroagsuv" class="pure-menu-link">SUV Tra. GA</a>
                            </li>
                            <li id="menu-item-repuestos-suv-tra-gm" class="pure-menu-item">
                                <a href="#" id="btnTraserosuv" class="pure-menu-link">SUV Tra. GM</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>    
